*.class
*.classpath
*.project
*.classpath
*.project
*.classpath
*.project
*.classpath
*.project
*.classpath
*.project
*.classpath
*.project
*.classpath
*.project
*.classpath
*.project

# Package Files #
*.jar
*.war
*.ear

# Folders #
target/
project/
bin/
